p {
    font-family: "Rasa", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
}

.post-content>h3 {
    width: fit-content;
}

.hh-1 {
    font-family: "Rasa", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 35px;
    font-style: normal;
}

.btn__shop {
    background-color: #000;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 5px;
}

#section-2, #section-3, #section-4, #section-5, #section-6 {
    font-family: "Rasa", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
}

#section-7 {
    font-family: "Rasa", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    font-size: 25px;
    width: fit-content;
}

.social-share-buttons .social-sidebar.eop {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
    top: 0px;
    gap: 15px;
}

.social-share-buttons .social-sidebar {
    left: 8px;
    position: relative;
    transition: top 1s ease 0s;
    z-index: 499;
}

.social-share-buttons .social-sidebar .pinterest {
    background-image: url(../images/pinterest.png);
}

.social-share-buttons .social-sidebar .facebook {
    background-image: url(../images/fb.png);
}

.social-share-buttons .social-sidebar .twitter {
    background-image: url(../images/twitter.png);
}

.social-share-buttons .social-sidebar .instagram {
    background-image: url(../images/insta.png);
}

.hr-div {
    width: auto;
    height: 2px;
    border: none;
    background-color: darkred;
    margin: 0;
    display: inline-block;
}

#title1-1 {
    position: relative;
    margin-bottom: 35px;
    margin-top: 80px;
    z-index: 0;
    text-align: center;
    font-family: Circular Std;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.up-cont {
    margin-left: 80px !important;
}

#title1-1:before {
    position: absolute;
    top: -50%;
    left: 0;
    height: 1px;
    width: 100%;
    z-index: 1;
    content: "";
    background-color: darkred;
}

.mhead-1 {
    position: relative;
    display: inline-block;
    padding: 7px 20px;
    background-color: #fff;
    z-index: 1;
    vertical-align: middle;
    margin-top: -35px;
}

.social-share-buttons .social-sidebar .social-share-unit {
    cursor: pointer;
    image-rendering: auto;
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    width: 36px;
    height: 36px;
    transition: transform .2s;
}

.text-start {
    font-family: "Rasa", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.quick-links-container>ul {
    list-style: none;
    padding-inline-start: 0;
    text-align: left;
    font-family: "Rasa", serif;
    font-optical-sizing: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.quick-links-container>ul>li {
    margin-top: 5px;
    width: fit-content;
    gap: 10px;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.d-flex {
    display: flex !important;
}

.quick-links-container>ul>li>.ql-count {
    font-size: 1.25rem;
    color: #7ab3e6;
    margin-right: 0.25rem;
}

.quick-links-container>ul>li>a {
    color: #000;
    line-height: 20px;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 2.3px;
    text-decoration: none;
    background-size: 2px 2px;
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-image: linear-gradient(var(--primary-color), #569fe0);
    text-decoration: underline;
}

.dk-red:hover {
    color: darkred;
    text-decoration: none;
}

.quick-links-container {
    height: 275px;
    width: 55%;
    display: inline-block;
}

.quick-links-container>ul {
    list-style: none;
    padding-inline-start: 15px;
    display: block;
    text-align: center;
    font-family: "Rasa", serif;
    font-optical-sizing: auto;
}

.quick-links-container>ul>li {
    margin-top: 5px;
    /* background-color: indianred; */
    width: fit-content;
}

.quick-links-container>ul>li>.ql-count {
    font-size: 1.25rem;
    color: darkred;
    margin-right: 0.25rem;
    /* background: brown; */
}

#pt-b {
    width: 70%;
    display: inline-block;
    text-align: justify;
    position: relative;
    top: 15px;
    max-width: 55%;
}

#pt-c {
    width: 55%;
    display: inline-block;
    text-align: justify;
}

.cat__link {
    text-decoration: none;
    color: darkred;
}

.post-author-link {
    text-decoration: none;
    color: darkmagenta;
}

.widget-title {
    border-bottom-style: dotted;
    border-bottom-color: darkred;
    font-family: "Rasa", serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
    color: darkred;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
}